.playlists-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
}
.playlists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: auto;
  height: 35rem;
  gap: 1rem;
}

.playlsits__title {
  font-size: 2em;
  font-weight: bold;
}
