.results__header {
  display: flex;
  justify-content: space-between;
}

.results__title {
  font-size: 2em;
  font-weight: bold;
}

.results__views-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  button {
    cursor: pointer;
  }

  .results__button-icon {
    font-size: 2em;
    transition: all 0.1s ease-in;

    &:hover {
      color: var(--accent-color);
      transform: scale(1.1);
    }
  }
}

.songs-container {
  padding: 0.5rem;
  overflow-y: auto;
  max-height: 50rem;
  display: flex;
  flex-direction: column;

  &.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .results__links {
    display: flex;
    transition: color 0.2s ease-in-out;

    .results__link {
      &:hover {
        color: var(--accent-color);
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 768px) {
  .nav-bar {
    max-height: 40rem;
  }
}
