.queue {
  display: flex;
  flex-direction: column;
  height: 100%;

  .queue__header {
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      background-color: var(--secondary-color);
      border-radius: 5px;
      &:hover {
        color: var(--accent-color);
        cursor: pointer;
      }
    }
  }
}

.queue__title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1rem;
}

.queue__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
  overflow-y: auto;
  height: 36.5rem;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.253);
  margin-bottom: 1rem;
}

@media screen and (min-width: 1580px) {
  .queue__list {
    height: 49.6rem;
  }
}

@media screen and (max-width: 480px) {
  .queue {
    display: none;
  }
  .queue.movile {
    display: flex;
    .queue__list {
      box-shadow: none;
      padding: 0.5rem;
    }
  }
}
