.queue-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0px 3px 5px var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
  }

  .queue-item__details {
    display: flex;
    gap: 0.5rem;
  }

  .queue-item__title {
    font-weight: bold;
    font-size: 0.7em;
    margin-bottom: 0.4rem;
  }

  .queue-item__artist {
    font-size: 0.6em;
  }

  .queue-item__img-container {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }

  .queue-item__img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .queue-item__description {
    display: flex;
    gap: 1rem;
  }

  .queue-item__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    color: white;
  }

  .queue-item__button-icon {
    font-size: 2em;
    transition: transform 0.2s ease-in-out;

    &:hover {
      color: var(--accent-color);
      transform: scale(1.2);
    }
  }
}

.queue-item.queue-item--active {
  box-shadow: 0px 3px 5px var(--secondary-color);
  background-color: var(--primary-color);
}

@media screen and (max-width: 480px) {
  .queue-item-item {
    box-shadow: none;
    padding: 0;

    .queue-item__title {
      font-size: 0.8em;
    }
    .queue-item__artists {
      font-size: 0.6em;
      &:before {
        content: "Artists: ";
        font-weight: 600;
      }
    }

    .queue-item__buttons {
      display: none;
    }
  }
}
