.header {
  display: flex;
  align-items: center;
  padding: 1rem;

  & .header__title {
    font-size: 2em;
    font-weight: bold;
  }

  @media screen and (max-width: 480px) {
    & .header__title {
      font-size: 1.3rem;
    }
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2rem;
  height: 100%;
  width: 100%;

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.audio-player {
  width: 100%;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.233);

  @media (max-width: 480px) {
    display: none;
  }
}
