.header {
  display: flex;
  align-items: center;
  padding: 1rem;

  & .header__title {
    font-size: 2em;
    font-weight: bold;
  }

  @media screen and (max-width: 480px) {
    & .header__title {
      font-size: 1.3rem;
    }
  }
}


